<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427448119790-rkp0s5m8vaqcus3q1qjb8qio1340uj4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427448119790-rkp0s5m8vaqcus3q1qjb8qio1340uj4c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>427448119790-6ff5brt2t026ocus3h462aub4tp4vn0o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3YFh13egK2315kOpWTBFgjDEuyNjtjEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>427448119790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sheltrFlutter</string>
	<key>PROJECT_ID</key>
	<string>sheltr-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sheltr-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427448119790:ios:342e3b83dff9f740dc5eff</string>
</dict>
</plist>